<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpPlatform processPath="C:\Program Files\Python312\python.exe" 
                  arguments="-m waitress --host 0.0.0.0 --port %HTTP_PLATFORM_PORT% main:app"
                  stdoutLogFile="C:\inetpub\wwwroot\WinCamsPasswordReset-WebApp\logs\iis.logs">
      <environmentVariables>
        <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
